body {
  background: black;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.frame {
  position: absolute;
  width: 90%;
  height: 90%;
  max-width: 800px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate( -50%, -50%);
  -ms-transform: translate( -50%, -50%);
  transform: translate( -50%, -50%);
  border: red solid 2px;
  background-color: rgba(0, 0, 0, 0.2); /* rgba(255, 255, 255, 0.08); */
  filter: blur(10px);
}

.link {
  position: fixed;
  width: 100%;
  margin: 5px 0px;
  top: 0;
  left: 0;
}

.link a {
  color: #888888;
  font-size: 12px;
  opacity: 0.6;
}
