body {
  background: black;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.frame {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: red solid 2px;
  background-color: rgba(255, 255, 255, 0.1);
  filter: blur(10px);
}

.link {
  position: fixed;
  width: 100%;
  margin: 5px 0px;
  top: 0;
  left: 0;
}

.link a {
  color: #888888;
  font-size: 12px;
  opacity: 0.6;
}
