.illustration-container {
    position: relative;
    margin: 70px 0 !important;
}

.illustration-container > div {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate( -50%, 0%);
}

.illustration-container canvas.layer, .illustration-mask, .illustration-mask span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.illustration-container canvas.img {
    display: block;
    position: relative;
    transition: 0.3s;
    box-shadow: 0 0 5px black;
}

.illustration-mask span {
    opacity: 0;
    transition: 0.3s;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}