@font-face{
    font-family: 'syst'; 
    src: url('../../assets/syst.woff') format('woff');
}

p {
    text-shadow:0px 0px 10px #880000;
    font-family: 'syst';
    letter-spacing: 2px;
}

.index-frame {
    position: absolute;
    width: 84%;
    height: 84%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    transform: translate( -50%, -50%);
    overflow: hidden;
}

.index {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    max-width: 400px;
    width: 90%;
    animation: loading 1.5s infinite ease-in-out alternate;
}

.loading {
    margin-top: 0px;
    color: #888888;
    font-size: 12px;
    margin-top: -10px;
}

@keyframes loading {
    from { filter: blur(0px) }
    to {
        filter: blur(5px);
        transition: all 1s;
    }
}