@font-face{
    font-family: 'syst'; 
    src: url('../../assets/syst.woff') format('woff');
}

p {
    text-shadow: 0px 0px 10px #880000;
    font-family: 'syst';
    letter-spacing: 2px;
}

.index-frame {
    position: absolute;
    width: 84%;
    height: 84%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    transform: translate( -50%, -50%);
    overflow: hidden;
}

.index-bg {
    position: absolute;
    width: 600px;
    height: 240px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid #888888;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    filter: blur(2px);
}

@media screen and (max-width: 720px) {
    .index-bg {
        width: 94%;
    }
}

.index {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    max-width: 400px;
    width: 90%;
    animation: loading 1.5s infinite ease-in-out alternate;
}

.loading {
    margin-top: 0;
    font-size: 12px;
    color: #888888;
}

.readme {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: none;
    font-size: 10px;
    color: #555555;
}

.readme span:first-child {
    display: inline-block;
    padding-right: 5px;
    transform: rotate(-8deg);
}

.readme span:last-child {
    display: inline-block;
    padding-left: 5px;
    transform: rotate(8deg);
}

@keyframes loading {
    from { filter: blur(0px) }
    to { filter: blur(5px) }
}