.text-frame {
    position: absolute;
    width: 84%;
    height: 84%;
    max-width: 760px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    transform: translate( -50%, -50%);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.text-frame::-webkit-scrollbar {
    display: none;
}

.poetry {
    color: white;
}

.placeholder {
    height: 40vh;
}

.content {
    max-width: 100%;
    overflow: hidden;
}